---
import {Button} from '../ui/button'
import {PROFILE} from "../../content/profileData";
import {Linkedin, Github, Mail, Youtube, Twitter, Rss, Book, PanelsTopLeft} from 'lucide-react'
---

<div class="flex h-full w-full animate-appear">
  <div class="flex flex-col justify-between gap-4 md:max-h-[300px]">
    <div class="flex h-full flex-col">
      <!--<h6 class="m-0 text-sm font-light text-gray-500">-->
      <!--</h6>-->
      <p class="m-0 text-xl font-light">
        Hola, Soy
        <b class="font-bold">{PROFILE.firstName}</b>.
      </p>
      <ul class="pt-4">
        {PROFILE.shortIntros.map((intro, index) => (
          <>
            {index === (PROFILE.shortIntros.length / 2)
              //cuando sea un número par, y en el medio agregue una línea vacía

              ? <br/>
              :
              <></>
            }
            <li>{intro}</li>
          </>
        ))}
      </ul>
    </div>
    <div class="flex gap-4">
      <a href={PROFILE.links.github} aria-label="github profile" target="_blank">
        <Button aria-label="github profile">
          <Github/>
          <span class="sr-only">GitHub</span>
        </Button>
      </a>
      {
        PROFILE.links?.linkedin && <a href={PROFILE.links.linkedin} aria-label="Linkedin" target="_blank">
          <Button aria-label="Linkedin">
            <Linkedin/>
            <span class="sr-only">Linkedin</span>
          </Button>
        </a>
      }
      {
        PROFILE.links?.mail && <a href={PROFILE.links.mail} aria-label="mail" target="_blank">
          <Button aria-label="mail">
            <Mail/>
            <span class="sr-only">Linkedin</span>
          </Button>
        </a>
      }
    </div>
  </div>
  <img
    src={PROFILE.avatarUrl}
    class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[256px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
    width="100%"
    height="auto"
    alt={`image of ${PROFILE.name}`}
  />
</div>

